extends layout

block content
 <div class="main" id='main'></div>
    <p> 
        <input type="text" id="string">
        <input type="button" id="but" value="добавить">
        <input type="button" id="clear" value="clear">
    </p>
    include footer
     script(src="javascripts/toDoPage.js")
    